/* Reset */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #f4f6f9;
}

/* Container */
.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

/* Card */
.card {
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Form */
input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Buttons */
button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.primary {
  background: #1976d2;
  color: white;
}

button.danger {
  background: #e53935;
  color: white;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background: #1976d2;
  color: white;
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background: #f1f1f1;
}
/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #1976d2;
  color: white;

  padding: 15px 30px;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}

.nav-title {
  font-size: 20px;
  font-weight: bold;
}
.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.pagination button {
  padding: 6px 12px;
}
