<div class="container">

    <div class="card">

        <h2>Departments</h2>

        <div class="form-row">
            <input [(ngModel)]="newDepartment" placeholder="Department name">
            <button class="primary" (click)="createDepartment()">Add</button>
        </div>

        <table>

            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>

            <tr *ngFor="let dept of departments">
                <td>{{dept.name}}</td>
                <td>
                    <button class="danger" (click)="deleteDepartment(dept.id)">
                        Delete
                    </button>
                </td>
            </tr>

        </table>

    </div>

</div>