<div class="container">

    <div class="card">

        <h2>Dashboard</h2>

        <p>Welcome to Employee Management System</p>

        <div style="margin-top:20px; display:flex; gap:10px">

            <button class="primary" routerLink="/departments">
                Manage Departments
            </button>


            <button class="primary" routerLink="/employees">
                Manage Employees
            </button>

            <button class="primary" routerLink="/roles">
                Manage Roles
            </button>
        </div>

        <br>

        <button class="danger" (click)="logout()">Logout</button>

    </div>

</div>